@model User
@{
    ViewData["Title"] = "Đăng ký";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Đăng ký tài khoản</h3></div>
                                <div class="card-body">
                                    <form asp-action="Create">
                                        <div class="form-floating mb-3">
                                            <div class="form-group">
                                                <label for="inputFirstName">Tên tài khoản</label>
                                                <input asp-for="UserName" class="form-control" type="text" placeholder="Vui lòng nhập tên tài khoản..." />

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail">Email đăng ký</label>
                                            <input asp-for="Email" class="form-control" type="email" placeholder="name@example.com" />

                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword">Mật khẩu</label>
                                            <input asp-for ="Password" class="form-control" type="password" placeholder="Vui lòng nhập mật khẩu..." />

                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-primary mt-2">Đăng ký</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-action="Login">Đã có tài khoản? Đăng nhập ngay</a></div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
