@model Shopping.Models.Blog
@{
    ViewData["Title"] = "Cập nhật";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Cập nhật bài viết</h1>
            <ol class="breadcrumb mb-4">
                <a asp-action="Index">Trang chủ </a>
                <li class="breadcrumb-item active">/ Cập nhật sản phẩm</li>
            </ol>
            <div class="card mb-4">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Image"/>
                            <div class="form-group">
                                <label>Tên bài viết</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>Nội dung</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Ảnh</label>
                                <input asp-for="ImageUpload" class="form-control" />
                                <img id="imgpreview" class="pt-2" />
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label> Preview Ảnh </label>
                                <img src="/images/@Model.Image" width="200" alt=""/>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
    <script>
            $("#ImageUpload").change(function() {
                    readURL(this);
            });
            CKEDITOR.replace( 'Description' );
    </script>
}